@font-face {
  font-family: LatoLight;
  src: url("/media/fonts/LatoLight.eot");
  src: url("/media/fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("/media/fonts/LatoLight.woff") format("woff"), url("/media/fonts/LatoLight.ttf") format("truetype");
}
@font-face {
  font-family: MyriadProRegular;
  src: url("/media/fonts/MyriadProRegular.eot");
  src: url("/media/fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/media/fonts/MyriadProRegular.woff") format("woff"), url("/media/fonts/MyriadProRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'Code-Pro-Light';
  src: url('/media/fonts/Code-Pro-Light.eot');
  src: url('/media/fonts/Code-Pro-Light.woff2') format('woff2'), url('/media/fonts/Code-Pro-Light.woff') format('woff'), url('/media/fonts/Code-Pro-Light.ttf') format('truetype'), url('/media/fonts/Code-Pro-Light.svg#Code-Pro-Light-LC') format('svg'), url('/media/fonts/Code-Pro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Code-Pro-Light';
  src: url('/media/fonts/Code-Pro-LC.eot');
  src: url('/media/fonts/Code-Pro-LC.woff2') format('woff2'), url('/media/fonts/Code-Pro-LC.woff') format('woff'), url('/media/fonts/Code-Pro-LC.ttf') format('truetype'), url('/media/fonts/Code-Pro-LC.svg#Code-Pro-LC') format('svg'), url('/media/fonts/Code-Pro-LC.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 1px) {
  .btn-android img {
    left: 50%;
    margin-left: -75px;
    position: absolute;
  }
  .btn-android .android-bottom {
    margin-top: -125px;
  }
  .btn-ios img {
    left: 50%;
    margin-left: -75px;
    position: absolute;
  }
  .btn-ios .ios-bottom {
    margin-top: -60px;
  }
}
@media screen and (min-width: 768px) {
  .btn-android img {
    left: 0%;
    margin-left: 0px;
    margin-top: 0px;
    float: right;
    position: relative;
  }
  .btn-android .android-bottom {
    margin-top: 0px;
  }
  .btn-ios img {
    left: 0%;
    margin-left: 0px;
    position: relative;
  }
  .btn-ios .ios-bottom {
    margin-top: 0px;
  }
}
body {
  background: transparent;
}
/* Semyon change "header" to ".lp-header" */
.lp-header {
  width: 100%;
  height: 800px;
  background-color: #fff;
  background-size: cover;
}
.lp-header .img-left {
  position: absolute;
  top: 0;
}
@media screen and (min-width: 992px) {
  .lp-header .img-left {
    left: -250px;
  }
}
@media screen and (min-width: 1600px) {
  .lp-header .img-left {
    left: 0px;
  }
}
.lp-header .img-right {
  position: absolute;
  left: 50%;
  margin-left: 260px;
  top: 526px;
}
.lp-header .container-header .title-header {
  margin-top: 70px;
}
.lp-header .container-header .title-header p {
  font-family: LatoLight;
  font-size: 39px;
  text-shadow: 0 1px 0 #fff, 1.5px 1.2px 4px #000;
  color: #fff;
}
.lp-header .container-header .logo-header {
  margin-top: 145px;
}
.lp-header .container-header .logo-header img {
  margin: 0 auto;
}
@media screen and (min-width: 100px) {
  .lp-header .container-header .title-header {
    margin-top: 62px;
  }
  .lp-header .container-header .title-header p {
    font-size: 23px;
    text-shadow: 0 1px 0 #fff, 1.5px 1.2px 4px #000;
    color: #fff;
  }
  .lp-header .container-header .task-header {
    margin-top: 60px;
  }
  .lp-header .container-header .task-header p {
    text-transform: uppercase;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .lp-header .container-header .title-header {
    margin-top: 70px;
  }
  .lp-header .container-header .title-header p {
    font-size: 39px;
    text-shadow: 0 1px 0 #fff, 1.5px 1.2px 4px #000;
    color: #fff;
  }
  .lp-header .container-header .task-header {
    margin-top: 115px;
  }
  .lp-header .container-header .task-header p {
    font-family: LatoLight;
    text-transform: uppercase;
    font-size: 26px;
  }
}
.lp-header .container-header .btn-header {
  margin-top: 55px;
}
.lp-header .container-header .btn-header .btn-download {
  border-radius: 0px;
}
.lp-header .container-header .fa {
  padding: 10px;
}
.main .spoiler-title {
  cursor: pointer;
}
.main .spoiler-body {
  display: none;
  background: #f1f1f1;
}
.main .features {
  background-color: #37414d;
}
.main .features .section-title {
  font-family: LatoLight;
  font-size: 45px;
}
.main .features .section-subtitle {
  font-family: LatoLight;
  font-size: 24px;
}
.main .features .description {
  font-family: LatoLight;
  font-size: 16px;
}
.main .features .features-icon {
  color: #04b570;
}
.main .features .features-wrapper:hover .features-icon {
  color: #fff;
  background-color: #04b570;
  box-shadow: 0 0 0 1px #2b3e50;
}
.main .features .features-content .title {
  margin-top: 8px;
  font-family: LatoLight;
  font-size: 34px;
  color: #04b570;
}
.main .web-code {
  margin-top: 48px;
}
.main .more-categories {
  background-color: #37414d;
  height: 100px;
}
.main .more-categories input {
  font-family: LatoLight;
  padding: 15px 40px 15px;
  border-color: white;
  background-color: rgba(178, 178, 178, 0);
  font-size: 24px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  color: white;
}
.main .more-categories input:hover {
  padding: 15px 40px 15px;
  background-color: #04c178;
  border-color: rgba(178, 178, 178, 0);
  font-size: 24px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  color: white;
}
.main .overview {
  background-color: #4e5c6d;
}
.main .overview .nav-tabs > li.active > a {
  color: #fff;
  background-color: #37414d;
  border-color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  cursor: default;
}
.main .overview a:hover {
  color: #fff;
  background-color: #37414d;
  border-color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.main .overview .section-header {
  font-size: 46px;
  font-family: LatoLight;
}
.main .overview .title {
  margin-top: 8px;
  font-size: 1.8em;
  color: #04b570;
}
.main .overview .btn-lg {
  font-size: 18px;
  font-family: LatoLight;
}
.main .overview .overview-content {
  font-family: LatoLight;
}
.main .overview .overview-content p {
  margin: 0px 0px 41.5px;
}
.main .overview .tab-pane {
  height: 500px;
}
@media screen and (min-width: 100px) {
  .main .overview .tab-pane {
    height: 750px;
  }
}
@media screen and (min-width: 768px) {
  .main .overview .tab-pane {
    height: 500px;
  }
}
.main .system-features {
  background-color: #37414d;
}
.main .system-features .title {
  font-family: LatoLight;
  margin-top: 8px;
  font-size: 30px;
  color: #04b570;
}
.main .system-features .description {
  font-family: LatoLight;
  font-size: 17px;
}
.main .system-features .section-title {
  font-size: 45px;
  font-family: LatoLight;
}
.main .system-features .hidden-sm {
  color: #04b570;
}
.main .system-features .overview-wrapper:hover .overview-icon {
  color: #fff;
  background-color: #04b570;
  box-shadow: 0 0 0 1px #2b3e50;
}
.main .system-features .categories {
  margin-top: 48px;
}
.main .system-features .notification {
  margin-top: 55px;
}
@media screen and (min-width: 100px) {
  .main .system-features .notification {
    margin-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .main .system-features .categories {
    margin-top: 48px;
  }
  .main .system-features .notification {
    margin-top: 55px;
  }
}
.main .calltoaction {
  width: 100%;
  height: 600px;
  background: url("/media/images/back_email.jpg");
  background-size: cover;
}
.main .calltoaction .section-title {
  font-size: 45px;
  font-family: LatoLight;
}
.main .calltoaction .section-subtitle {
  font-size: 24px;
  font-family: LatoLight;
}
.main .calltoaction button {
  border-radius: 0px;
  background-color: #04b570;
  height: 39px;
}
.main .calltoaction .newsletter-wrapper h3 {
  margin-top: 70px;
  font-size: 26px;
  font-family: LatoLight;
}
.main .calltoaction input {
  font-family: LatoLight;
  font-size: 18px;
}
.main .calltoaction button {
  font-family: LatoLight;
  font-size: 16px;
}
.main .calltoaction .help-block {
  font-family: LatoLight;
  font-size: 12px;
}
.main .calltoaction .input-newsletter {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 200px) {
  .main .calltoaction {
    height: 790px;
  }
}
@media screen and (min-width: 475px) {
  .main .calltoaction {
    height: 600px;
  }
}
@media screen and (min-width: 511px) {
  .main .calltoaction {
    height: 600px;
  }
}
.footer {
  margin-top: 0px;
  background-color: #4e5c6d;
}
.footer .footer-info {
  font-family: MyriadProRegular;
  margin-top: 45px;
  font-size: 16px;
  color: #D0D0D0;
}
.footer .footer-info a {
  color: #D0D0D0;
  text-decoration: none;
}
.footer .footer-info a:hover {
  color: #D0D0D0;
  text-decoration: none;
}
@media screen and (min-width: 200px) {
  .footer .footer-info {
    margin-top: 10px;
  }
}
@media screen and (min-width: 992px) {
  .footer .footer-info {
    margin-top: 45px;
  }
}
.footer .footer-invaders p {
  font-family: LatoLight;
  font-size: 14px;
}
.footer .footer-invaders p a {
  color: #D0D0D0;
}
.footer .footer-invaders p a:hover {
  color: #D0D0D0;
  text-decoration: none;
}
.go-top {
  margin-bottom: 50px;
  color: #fff;
}
.go-top:hover,
.go-top:focus {
  margin-bottom: 50px;
  color: #04b570;
}
.modal {
  background: rgba(0, 31, 67, 0.78);
}
.modal .close {
  font-size: 48px;
  font-family: "Open Sans";
  opacity: 0.75;
  font-weight: lighter;
  line-height: 26px;
}
.modal .close:hover {
  opacity: 1;
}
.modal .modal-content {
  font-family: LatoLight;
  font-size: 16px;
  text-align: justify;
  background: rgba(0, 31, 67, 0.9);
  box-shadow: none;
  color: #fff;
}
.modal .modal-header,
.modal .modal-footer {
  background: none;
  padding-left: 20px;
}
.modal .modal-header h4,
.modal .modal-footer h4 {
  font-size: 30px;
}
.modal .modal-body {
  padding-top: 0px;
}
.modal .modal-dialog {
  width: 1024px;
}
/* Semyon's styles */
.fixed-header {
  background: #37414d;
  height: 109px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999999;
}
.fixed-header__top {
  background: #58d8a3;
  height: 42px;
}
.fixed-header__logo {
  float: left;
  display: block;
  padding: 5px 0 0 10px;
}
.fixed-header__menu-btn {
  position: fixed;
  top: 40px;
  left: 15px;
  background: #58d8a3;
  border: none;
  border-radius: 50%;
  float: left;
  margin-top: 13px;
  outline: none;
  padding: 14px 11px;
}
@media (min-width: 768px) {
  .fixed-header__menu-btn {
    position: relative;
    top: 0;
    left: 0;
  }
}
.fixed-header__profile {
  float: right;
}
.fixed-header__profile img {
  border-radius: 50%;
  float: left;
  height: 31px;
  width: 31px;
  margin-top: 6px;
}
.fixed-header .container {
  height: 67px;
}
.fixed-header-mid {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #37414d;
}
@media (min-width: 768px) {
  .fixed-header-mid {
    position: relative;
    width: 363px;
  }
}
@media (min-width: 992px) {
  .fixed-header-mid {
    width: 393px;
  }
}
@media (min-width: 1200px) {
  .fixed-header-mid {
    width: 543px;
  }
}
.fixed-header-mid li {
  display: block;
  float: left;
  padding: 10px 0px 5px;
  width: 20%;
}
@media (min-width: 768px) {
  .fixed-header-mid li {
    width: auto;
    padding: 17px 15px;
  }
}
@media (min-width: 992px) {
  .fixed-header-mid li {
    padding: 17px 20px;
  }
}
@media (min-width: 1200px) {
  .fixed-header-mid li {
    padding: 17px 35px;
  }
}
.fixed-header-mid__prof {
  background: url('../images/header-sprite.png') no-repeat;
  background-position: -46px -65px;
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 36px;
}
.fixed-header-mid__cal {
  background: url('../images/header-sprite.png') no-repeat;
  background-position: -84px -10px;
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 36px;
}
.fixed-header-mid__search {
  background: url('../images/header-sprite.png') no-repeat;
  background-position: -135px -10px;
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 36px;
}
.fixed-header-mid__sets {
  background: url('../images/header-sprite.png') no-repeat;
  background-position: -101px -65px;
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 36px;
}
.fixed-header-mid__bigplus {
  background: #58d8a3;
  border: 7px solid #43505e;
  border-radius: 50%;
  color: #37414d !important;
  display: block;
  font-family: 'Open Sans';
  font-size: 34px;
  line-height: 51px;
  margin: -22px auto 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  height: 64px;
  width: 64px;
}
@media (min-width: 768px) {
  .fixed-header-mid__bigplus {
    font-size: 48px;
    margin: -22px -15px 0;
    line-height: 82px;
    width: 99px;
    height: 99px;
  }
}
@media (min-width: 992px) {
  .fixed-header-mid__bigplus {
    margin: -22px -25px 0;
  }
}
.fixed-header-mid__bigplus:after {
  content: '+';
}
.fixed-header-right {
  float: right;
  padding: 0;
  margin: 13px 0 0;
  position: fixed;
  top: 40px;
  right: 10px;
}
@media (min-width: 768px) {
  .fixed-header-right {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
  }
}
.fixed-header-right li {
  display: inline-block;
}
.fixed-header-right li a {
  background-color: #58d8a3;
  border-radius: 50%;
  display: block;
  height: 42px;
  width: 42px;
  position: relative;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .fixed-header-right li a {
    margin-right: 0;
  }
}
.fixed-header-right__list {
  background: url(../images/header-sprite.png) no-repeat -38px 2px;
}
.fixed-header-right__sets {
  background: url(../images/header-sprite.png) no-repeat 2px 3px;
  margin: 0;
}
@media (min-width: 768px) {
  .fixed-header-right__sets {
    margin-left: 10px;
  }
}
.fixed-header-right__msg {
  background: url(../images/header-sprite.png) no-repeat -2px -111px;
  margin: 0;
}
@media (min-width: 768px) {
  .fixed-header-right__msg {
    margin-left: 22px;
    margin-right: 6px;
  }
}
.fixed-header-right__msg:before {
  content: '';
  background: #58d8a3;
  display: none;
  margin-left: -13px;
  width: 1px;
  height: 100%;
}
@media (min-width: 768px) {
  .fixed-header-right__msg:before {
    display: block;
  }
}
.icon-bar {
  background: #3b5558;
  display: block;
  width: 20px;
  height: 2px;
  margin: 0;
}
.icon-bar + .icon-bar {
  margin-top: 4px;
}
.icon-dot {
  border: 2px solid #3a3b3d;
  border-radius: 50%;
  display: block;
  width: 6px;
  height: 6px;
}
.icon-dot + .icon-dot {
  margin-top: 3px;
}
.icon-dot-wrap {
  float: left;
  padding: 10px 0 0 3px;
}
.msg-ico {
  background: #fff;
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
  right: -5px;
}
.top-section {
  padding-top: 109px;
  background: url(../images/backgr.jpg) no-repeat;
  background-color: #fff;
  min-height: 529px;
  font-family: LatoLight;
  font-size: 21px;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .top-section {
    font-size: 27px;
  }
}
.top__btn {
  background: #37414d;
  border-radius: 40px;
  color: #58d8a3;
  display: block;
  height: 59px;
  line-height: 60px;
  width: 280px;
  text-decoration: none !important;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .top__btn {
    width: 363px;
    height: 79px;
    line-height: 80px;
  }
}
.top__btn:hover {
  color: #58d8a3;
}
.top__btn.btn-green {
  background: #58d8a3;
  color: #37414d;
}
.top__btn-app {
  display: inline-block;
  width: 100px;
  margin: 20px 0 13px;
}
.top__hand-img {
  position: absolute;
  width: 159px;
  right: -50px;
  bottom: -20px;
  display: none;
}
@media (min-width: 768px) {
  .top__hand-img {
    display: block;
    right: -120px;
  }
}
@media (min-width: 992px) {
  .top__hand-img {
    right: -50px;
  }
}
@media (min-width: 1200px) {
  .top__hand-img {
    right: 0px;
  }
}
.top__text {
  color: #37414d;
  max-width: 363px;
  margin: 0 auto;
  line-height: 1.2;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .top__left-col {
    margin-top: 90px;
  }
}
.top__right-col {
  margin: 75px 0 75px;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .top__right-col {
    margin: 75px 0 20px;
  }
}
.top__right-col .img-bizzi {
  width: 100%;
  max-width: 344px;
}
.list {
  padding-top: 98px;
  min-height: 100vh;
  background: #d2d2d2;
}
@media (min-width: 768px) {
  .list {
    padding-top: 109px;
  }
}
.list .col-md-3 {
  padding: 10px;
}
.list .col-md-3 .list__col {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  background: #fff;
  float: left;
  height: 300px;
  margin-bottom: 20px ;
}
.list .col-md-6 {
  padding: 10px;
}
.list .col-md-6 .list__col {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  background: #fff;
  float: left;
  padding-bottom: 30px;
}
.list__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list__row {
  display: block;
  text-decoration: none !important;
  height: 110px;
  padding: 30px 15px 20px;
}
.list__ico--paint {
  background: url(../images/list-sprite.png) no-repeat 4px 3px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__ico--cup {
  background: url(../images/list-sprite.png) no-repeat -67px -2px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__ico--repair {
  background: url(../images/list-sprite.png) no-repeat -140px 0px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__ico--train {
  background: url(../images/list-sprite.png) no-repeat -216px 8px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__ico--pc {
  background: url(../images/list-sprite.png) no-repeat -366px 2px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__ico--key {
  background: url(../images/list-sprite.png) no-repeat -291px 3px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__ico--electric {
  background: url(../images/list-sprite.png) no-repeat -433px 3px;
  background-color: #2f3f4c;
  display: block;
  float: left;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  margin-top: 5px;
}
.list__desc {
  display: block;
  color: #465c6e;
  font-size: 17px;
  width: 100%;
  margin: 15px 0 0;
  float: right;
}
@media (min-width: 768px) {
  .list__desc {
    font-size: 20px;
    width: 85%;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .list__desc {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .list__desc {
    max-width: 440px;
  }
}
.list__date {
  display: block;
  float: right;
  color: #778b9e;
  font-size: 14px;
  width: 100%;
  margin: 5px 0 10px;
}
@media (min-width: 768px) {
  .list__date {
    font-size: 17px;
    width: 85%;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .list__date {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .list__date {
    max-width: 440px;
  }
}
.list__title {
  display: block;
  float: left;
  color: #2f3f4c;
  font-size: 20px;
  width: 60%;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .list__title {
    width: 85%;
    float: right;
  }
}
@media (min-width: 992px) {
  .list__title {
    max-width: 340px;
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .list__title {
    max-width: 440px;
  }
}
.list__cost {
  color: #00d9a2;
  font-size: 17px;
  float: right;
  width: 100%;
  font-style: normal;
}
@media (min-width: 768px) {
  .list__cost {
    width: auto;
    font-size: 20px;
  }
}
.task {
  padding-top: 120px;
}
@media (min-width: 768px) {
  .task {
    padding-top: 140px;
  }
}
.task__btn {
  background: #37414d;
  border: none;
  border-radius: 25px;
  color: #58d8a3;
  display: block;
  font-size: 14px;
  margin: 20px 0;
  padding: 5px 0;
  width: 100%;
}
.task__hr {
  border-top: 1px solid #fff;
  margin: 12px 45px;
}
@media (min-width: 768px) {
  .task__hr {
    margin: 12px 85px;
  }
}
.task__row {
  font-size: 12px;
  padding: 5px 0;
  width: 100%;
}
.task__row:after {
  content: '';
  clear: both;
  display: table;
}
.task__green-text {
  color: #58d8a3;
  float: left;
  padding-right: 10px;
}
.task__white-text {
  float: left;
  max-width: 50%;
}
@media (min-width: 768px) {
  .task__white-text {
    max-width: 60%;
  }
}
.task__left-col + .task__left-col {
  margin-top: 30px;
}
.task__left-col,
.task__right-col {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: #f8f8f8;
  min-height: 200px;
}
.task__right-col {
  background: linear-gradient(to bottom, #3d434e, #58d8a3);
  padding: 20px 20px 40px;
}
@media (min-width: 768px) {
  .task__right-col {
    padding: 20px 30px 40px;
  }
}
@media (min-width: 992px) {
  .task__right-col {
    padding: 20px 40px 40px;
  }
}
.task__title {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  text-align: center;
  margin: 0 0 10px;
}
@media (min-width: 768px) {
  .task__title {
    font-size: 20px;
  }
}
.task__cost {
  color: #58d8a3;
  display: block;
  width: 100%;
  text-transform: none;
  padding: 10px 0 0px;
}
.task .col-xs-12 {
  padding: 15px;
}
.map {
  padding-top: 99px;
}
.map__btn-wrap {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 42px;
  height: 170px;
}
@media (min-width: 768px) {
  .map__btn-wrap {
    right: 0;
    width: 90px;
    height: 200px;
  }
}
.map__btn-minus,
.map__btn-plus {
  background-color: #58d8a3;
  border: none;
  border-radius: 50%;
  color: #37414d;
  display: block;
  margin: 10px auto;
  font-size: 30px;
  height: 42px;
  width: 42px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .map__btn-minus,
  .map__btn-plus {
    margin: 10px auto;
  }
}
.map__btn-geo {
  background: url(../images/geo.png) no-repeat center;
  background-color: #fff;
  background-size: 20px;
  border: none;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  width: 42px;
  height: 42px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .map__btn-geo {
    background-size: 25px;
    margin: 20px auto;
    width: 66px;
    height: 66px;
  }
}
.map__col {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  position: relative;
}
.map .col-xs-12 {
  padding: 10px;
}
.profile {
  color: #37414d;
  text-align: center;
  padding-top: 109px;
}
.profile__nav {
  float: left;
  margin-bottom: 10px;
  position: relative;
  z-index: 99999998;
  width: 100%;
}
@media (min-width: 768px) {
  .profile__nav {
    margin-bottom: -10px;
  }
}
.profile__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile__nav-item {
  background: #58d8a3;
  display: block;
  float: left;
  width: 100%;
}
.profile__nav-item:nth-child(2) {
  background: #55cd9d;
}
.profile__nav-item:nth-child(3) {
  background: #52bc94;
}
.profile__nav-item:nth-child(4) {
  background: #4dab89;
}
.profile__nav-item.active {
  background: #37414d;
}
.profile__nav-item.active .profile__nav-ico--skills,
.profile__nav-item.active .profile__nav-ico--tasks,
.profile__nav-item.active .profile__nav-ico--stat,
.profile__nav-item.active .profile__nav-ico--info {
  background-position: 0 0px;
}
@media (min-width: 768px) {
  .profile__nav-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .profile__nav-item {
    width: 25%;
  }
}
.profile__nav-item a {
  cursor: pointer;
  display: block;
  height: 39px;
  text-align: center;
}
.profile__nav-ico--skills,
.profile__nav-ico--tasks,
.profile__nav-ico--stat,
.profile__nav-ico--info {
  background-position: 0 -32px;
  display: inline-block;
  margin: 2px 0 0;
  height: 32px;
  width: 32px;
}
.profile__nav-ico--skills {
  background-image: url(../images/skills.png);
}
.profile__nav-ico--tasks {
  background-image: url(../images/tasks.png);
}
.profile__nav-ico--stat {
  background-image: url(../images/stat.png);
}
.profile__nav-ico--info {
  background-image: url(../images/info.png);
}
.profile__col {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  background: #f8f8f8;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  min-height: 200px;
}
@media (min-width: 768px) {
  .profile__col {
    border-radius: 0px 0px 40px 40px;
  }
}
.profile__blue-col {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  background: #627489;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 10px 10px 30px;
  min-height: 200px;
}
@media (min-width: 768px) {
  .profile__blue-col {
    border-radius: 0px 0px 40px 40px;
  }
}
.profile__blue-row {
  border-bottom: 1px solid #37414d;
  font-size: 14px;
  color: #58d8a3;
  text-align: left;
  padding: 7px 0;
}
@media (min-width: 1200px) {
  .profile__blue-row {
    font-size: 20px;
  }
}
.profile__blue-row span {
  float: right;
  color: #fff;
}
.profile__btn {
  background: #58d8a3;
  border: none;
  border-radius: 30px;
  color: #37414d;
  font-family: 'Code-Pro-Light', sans-serif;
  font-size: 18px;
  margin: 0em 5px 1em;
  text-transform: uppercase;
  width: 212px;
  height: 47px;
}
@media (min-width: 992px) {
  .profile__btn {
    margin: 0em 5px 2em;
  }
}
.profile__title {
  color: #37414d;
  font-family: 'Code-Pro-Light', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 20px 0 0;
  text-align: center;
  text-transform: uppercase;
}
.profile__status {
  min-height: 20px;
  font-family: 'Code-Pro-Light', sans-serif;
  font-size: 14px;
}
.profile .col-xs-12 {
  padding: 10px;
}
.profile__check {
  color: #58d8a3;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
}
.profile__check:before {
  font-family: "Ionicons";
  content: "\f3fd";
  font-size: 60px;
  height: 20px;
  line-height: 20px;
  left: 5px;
  position: absolute;
}
.profile__userpic {
  border: 5px solid #58d8a3;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
@media (min-width: 992px) {
  .profile__userpic {
    height: 248px;
    width: 248px;
  }
}
.profile__town {
  font-family: 'Code-Pro-Light', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  min-height: 45px;
  padding: 10px 0;
}
.profile-medals {
  margin-bottom: 20px;
}
.profile-medals__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.profile-medals__item--star {
  background: url(../images/medals-sprite.png) -170px 0px no-repeat;
  display: inline-block;
  height: 52px;
  margin: 0 10px;
  width: 52px;
}
.profile-medals__item--red {
  background: url(../images/medals-sprite.png) -112px 0px no-repeat;
  display: inline-block;
  height: 52px;
  width: 52px;
  margin: 0 10px;
}
.profile-medals__item--blue {
  background: url(../images/medals-sprite.png) 0px 0px no-repeat;
  display: inline-block;
  height: 52px;
  width: 52px;
  margin: 0 10px;
}
.profile-medals__item--medal {
  background: url(../images/medals-sprite.png) -55px 0px no-repeat;
  display: inline-block;
  height: 52px;
  width: 52px;
  margin: 0 10px;
}
.chat {
  padding-top: 109px;
}
.chat__arrow-back {
  background-color: #58d8a3;
  border-radius: 50%;
  color: #37414d !important;
  font-size: 26px;
  display: block;
  height: 44px;
  line-height: 48px;
  width: 44px;
  float: left;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .chat__arrow-back {
    display: none;
  }
}
.chat__input {
  border: 1px solid #37414d;
  border-radius: 25px;
  color: #37414d;
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 44px;
  outline: none;
  padding: 0 20px;
  margin-left: -30px;
  width: 80%;
}
.chat__input:focus {
  border-color: #58d8a3;
}
@media (min-width: 1200px) {
  .chat__input {
    width: 385px;
  }
}
.chat__left-col,
.chat__right-col {
  background: #fff;
  float: left;
  width: 100%;
  position: absolute;
  min-height: 1px;
  z-index: 1;
}
@media (min-width: 768px) {
  .chat__left-col,
  .chat__right-col {
    position: relative;
    width: 50%;
  }
}
.chat__right-col {
  display: none;
}
@media (min-width: 768px) {
  .chat__right-col {
    display: block;
  }
}
.chat__tab {
  color: #37414d;
  display: inline-block;
  float: left;
  font-size: 11px;
  line-height: 27px;
  height: 100%;
  width: 50%;
  padding: 10px 0px;
  text-decoration: none !important;
}
.chat__tab:hover,
.chat__tab:active,
.chat__tab:focus {
  color: #37414d;
}
@media (min-width: 480px) {
  .chat__tab {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .chat__tab {
    font-size: 18px;
  }
}
.chat__tab-wrap {
  background: #58d8a3;
  border-radius: 25px;
  float: left;
  height: 44px;
  width: 80%;
  position: relative;
}
@media (min-width: 1200px) {
  .chat__tab-wrap {
    height: 44px;
    width: 385px;
  }
}
.chat__tab-swipe {
  border-radius: 25px;
  background: #37414d;
  display: inline-block;
  color: #58d8a3;
  z-index: 1;
  width: 55%;
  height: 44px;
  position: absolute;
  left: 0;
  font-size: 11px;
  line-height: 27px;
  padding: 10px 0px;
}
@media (min-width: 480px) {
  .chat__tab-swipe {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .chat__tab-swipe {
    font-size: 18px;
  }
}
.chat__search-btn {
  background: #58d8a3;
  border: none;
  border-radius: 50%;
  float: right;
  width: 46px;
  height: 46px;
}
.chat__search-btn .fa-search {
  color: #37414d;
  font-size: 20px;
}
.chat__left-col {
  border-right: 1px solid #dadada;
}
.chat__header {
  float: left;
  font-family: 'Code-Pro-Light';
  width: 100%;
  padding: 15px 15px;
  text-align: center;
  position: relative;
}
@media (min-width: 480px) {
  .chat__header {
    padding: 20px 15px;
  }
}
@media (min-width: 992px) {
  .chat__header {
    padding: 20px 45px;
  }
}
.chat__name {
  background: #37414d;
  border-radius: 25px;
  display: inline-block;
  color: #58d8a3 !important;
  padding: 11px 30px 8px;
  font-size: 13px;
  text-decoration: none !important;
  text-transform: uppercase;
  line-height: 26px;
  height: 44px;
}
@media (min-width: 768px) {
  .chat__name {
    font-size: 18px;
  }
}
.chat-left__content {
  float: left;
  height: calc(100vh - 265px);
  width: 100%;
}
@media (min-width: 768px) {
  .chat-left__content {
    height: calc(100vh - 240px);
  }
}
.chat-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-left__row {
  display: block;
  height: 120px;
  margin: 0;
  padding: 10px 0px;
}
.chat-left__row:hover {
  background: #f8f8f8;
}
@media (min-width: 768px) {
  .chat-left__row {
    margin: 0 10px;
  }
}
.chat-left__img {
  display: block;
  float: left;
  height: 100px;
  width: 30%;
}
@media (min-width: 992px) {
  .chat-left__img {
    width: 20%;
  }
}
.chat-left__img img {
  border-radius: 50%;
  display: block;
  height: 75px;
  width: 75px;
  margin: 12.5px auto;
}
.chat-left__name {
  float: left;
  color: #2f3f4c;
  font-size: 18px;
  display: block;
  width: 70%;
  padding: 10px 0 0;
}
@media (min-width: 992px) {
  .chat-left__name {
    font-size: 20px;
    width: 80%;
  }
}
.chat-left__text {
  color: #465c6e;
  display: block;
  font-size: 16px;
  float: left;
  height: 42px;
  line-height: 1.3;
  padding-right: 10px;
  overflow: hidden;
  width: 70%;
}
@media (min-width: 992px) {
  .chat-left__text {
    font-size: 16px;
    line-height: 1.5;
    height: 28px;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .chat-left__text {
    font-size: 20px;
    line-height: 1.3;
  }
}
.chat-left__date {
  display: block;
  float: left;
  font-size: 15px;
  color: #778b9e;
  width: 70%;
}
@media (min-width: 992px) {
  .chat-left__date {
    font-size: 17px;
    width: 80%;
  }
}
.chat-right__btn-plus {
  background: #58d8a3;
  border-radius: 50%;
  color: #37414d;
  cursor: pointer;
  display: block;
  font-size: 28px;
  float: left;
  height: 46px;
  line-height: 45px;
  text-align: center;
  width: 46px;
  position: absolute;
  left: 15px;
  bottom: -5px;
}
.chat-right__btn-plus:after {
  content: '+';
}
.chat-right__btn-send {
  background: transparent;
  border: none;
  color: #58d8a3;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 600;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.chat-right__bottom {
  border-top: 1px solid #dadada;
  width: 100%;
  display: table-row;
}
.chat-right__bottom-wrap {
  padding-top: 20px;
}
.chat-right__content {
  float: left;
  height: calc(100vh - 255px);
  position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;
}
@media (min-width: 768px) {
  .chat-right__content {
    height: calc(100vh - 240px);
  }
}
.chat-right__textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #a6a6a6;
  box-sizing: border-box;
  color: #37414d;
  display: block;
  font-size: 19px;
  font-weight: 300;
  min-height: 20px;
  max-height: 200px;
  max-width: 100%;
  padding: 5px 0;
  outline: none;
  resize: none;
  margin: 0 80px 0 70px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}
.chat-right-container {
  display: table-row;
  height: 100%;
  width: 100%;
  position: relative;
}
.chat-right-cont__inner {
  bottom: 0;
  padding: 0 30px;
  position: absolute;
  max-height: 100%;
}
.chat-right-cont__row {
  float: left;
  margin: 10px 0;
  position: relative;
  width: 100%;
}
.chat-right-cont__row.left .chat-right-cont__text-wrap {
  float: left;
}
.chat-right-cont__row.left .chat-right-cont__text {
  border-radius: 27px 27px 27px 0;
  background: #37414d;
  color: #58d8a3;
}
.chat-right-cont__row.left .chat-right-cont__time {
  right: 10px;
}
.chat-right-cont__row.right .chat-right-cont__text-wrap {
  float: right;
}
.chat-right-cont__row.right .chat-right-cont__text {
  border-radius: 27px 27px 0 27px;
  background: #58d8a3;
  color: #37414d;
}
.chat-right-cont__row.right .chat-right-cont__time {
  left: 10px;
}
.chat-right-cont__text-wrap {
  max-width: 75%;
}
.chat-right-cont__wrap {
  position: relative;
  height: 100%;
}
.chat-right-cont__date {
  color: #7c8a9c;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.chat-right-cont__time {
  color: #7c8a9c;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  top: 10px;
}
.chat-right-cont__text {
  padding: 10px 15px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .chat-right-cont__text {
    font-size: 19px;
  }
}
.chat-right-cont__text + .chat-right-cont__text {
  margin-top: 5px;
}
#addfile {
  display: none;
}
.task-form select {
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.task-form select::-ms-expand {
  display: none;
}
.task-form input,
.task-form textarea {
  outline: none;
}
.task-form input::-webkit-input-placeholder {
  color: #37414d !important;
}
.task-form input:-moz-placeholder {
  color: #37414d !important;
}
.task-form input::-moz-placeholder {
  color: #37414d !important;
}
.task-form input:-ms-input-placeholder {
  color: #37414d !important;
}
.task-form textarea::-webkit-input-placeholder {
  color: #37414d !important;
}
.task-form textarea:-moz-placeholder {
  color: #37414d !important;
}
.task-form textarea::-moz-placeholder {
  color: #37414d !important;
}
.task-form textarea:-ms-input-placeholder {
  color: #37414d !important;
}
.task-form input[type="file"] {
  display: none;
}
.task-form__add-file,
.task-form__add-img {
  background: #37414d;
  border-radius: 50%;
  color: #58d8a3;
  cursor: pointer;
  font-size: 13px;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 7px;
}
.task-form__add-img {
  top: 27px;
  padding: 3px 7px;
}
.task-form__add-file {
  top: 57px;
  padding: 4px 8px;
}
.task-form__address {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  font-size: 12px;
  margin: 14px 6px;
  padding: 4px 10px;
  width: 80%;
}
.task-form__row {
  float: left;
  position: relative;
  width: 100%;
}
.task-form__plus {
  background: #37414d;
  border-radius: 50%;
  color: #58d8a3 !important;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  text-align: center;
  text-decoration: none !important;
  margin: 14px 0;
}
.task-form__price {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  float: left;
  font-size: 12px;
  padding: 4px 10px;
  margin: 14px 0 30px;
  width: 120px;
}
.task-form__price-label {
  color: #37414d;
  display: block;
  float: left;
  margin: 12px 5px;
  position: relative;
  font-size: 20px;
}
.task-form__select-cat {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  font-size: 12px;
  padding: 4px 10px;
  width: 100%;
  margin: 14px 0;
}
.task-form__select-cat + .task-form__select-cat {
  float: right;
}
@media (min-width: 1200px) {
  .task-form__select-cat {
    width: 174px;
  }
}
.task-form__select-dline {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  font-size: 12px;
  margin: 14px 0;
  padding: 4px 30px;
  width: 100%;
}
.task-form__select-dline-wrap {
  float: left;
  position: relative;
  width: 85%;
  margin-right: 35px;
}
@media (min-width: 1200px) {
  .task-form__select-dline-wrap {
    width: 140px;
  }
}
.task-form__select-dline-wrap:after {
  color: #37414d;
  content: "\f0d7";
  font-family: 'FontAwesome';
  position: absolute;
  top: 18px;
  right: 6px;
  font-size: 12px;
}
.task-form__select-time {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  font-size: 12px;
  margin: 14px 0;
  padding: 4px 16px;
}
.task-form__select-time-wrap {
  float: left;
  position: relative;
  margin-left: 5px;
}
.task-form__select-time-wrap:after {
  color: #37414d;
  content: "\f0d7";
  font-family: 'FontAwesome';
  position: absolute;
  top: 18px;
  right: 6px;
  font-size: 12px;
}
.task-form__select-cat-wrap {
  float: left;
  position: relative;
  width: 100%;
}
.task-form__select-cat-wrap + .task-form__select-cat-wrap {
  float: right;
}
.task-form__select-cat-wrap:after {
  color: #37414d;
  content: "\f0d7";
  font-family: 'FontAwesome';
  position: absolute;
  top: 18px;
  right: 6px;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .task-form__select-cat-wrap {
    width: 174px;
  }
}
.task-form__date {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  float: left;
  font-size: 12px;
  margin: 14px 0;
  padding: 4px 10px;
  width: 90px;
}
.task-form__date + button {
  background: transparent;
  border: none;
  float: left;
  margin: 13px 0 0 -20px;
}
.task-form__date + button:after {
  content: "\f0d7";
  color: #37414d;
  font-family: 'FontAwesome';
  font-size: 12px;
}
.task-form__input {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  font-size: 12px;
  width: 100%;
  padding: 4px 10px;
  margin: 14px 0;
}
.task-form__textarea {
  background: #58d8a3;
  border: none;
  border-radius: 11px;
  color: #37414d;
  font-size: 12px;
  height: 80px;
  resize: none;
  width: 85%;
  margin: 14px 0;
  padding: 10px;
}
@media (min-width: 1200px) {
  .task-form__textarea {
    width: 90%;
  }
}
.ui-datepicker {
  background: #37414d;
}
.ui-datepicker-header {
  background: #58d8a3;
}
.ui-datepicker-next,
.ui-datepicker-prev {
  cursor: pointer;
  font-family: 'FontAwesome';
}
.ui-datepicker-prev:before {
  color: #37414d;
  content: '\f0d9';
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 8px;
}
.ui-datepicker-next:before {
  color: #37414d;
  content: '\f0da';
  display: inline-block;
  font-size: 20px;
  position: absolute;
  right: 8px;
}
.ui-datepicker-title {
  color: #37414d;
}
.ui-state-hover {
  background: #58d8a3;
  color: #37414d;
}
