@backg_one: #37414d;
@backg_two: #4e5c6d;
@green: #04b570;
@lgreen: #58d8a3;

@font-face {
	font-family: LatoLight;
	src: url("/media/fonts/LatoLight.eot");
    src: url("/media/fonts/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("/media/fonts/LatoLight.woff") format("woff"),
    url("/media/fonts/LatoLight.ttf") format("truetype");
}

@font-face {
    font-family: MyriadProRegular;
    src: url("/media/fonts/MyriadProRegular.eot");
    src: url("/media/fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("/media/fonts/MyriadProRegular.woff") format("woff"),
    url("/media/fonts/MyriadProRegular.ttf") format("truetype");
}

@font-face {
  font-family: 'Code-Pro-Light';
  src: url('/media/fonts/Code-Pro-Light.eot');
  src: url('/media/fonts/Code-Pro-Light.woff2') format('woff2'),
       url('/media/fonts/Code-Pro-Light.woff') format('woff'),
       url('/media/fonts/Code-Pro-Light.ttf') format('truetype'),
       url('/media/fonts/Code-Pro-Light.svg#Code-Pro-Light-LC') format('svg'),
       url('/media/fonts/Code-Pro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Code-Pro-Light';
  src: url('/media/fonts/Code-Pro-LC.eot');
  src: url('/media/fonts/Code-Pro-LC.woff2') format('woff2'),
       url('/media/fonts/Code-Pro-LC.woff') format('woff'),
       url('/media/fonts/Code-Pro-LC.ttf') format('truetype'),
       url('/media/fonts/Code-Pro-LC.svg#Code-Pro-LC') format('svg'),
       url('/media/fonts/Code-Pro-LC.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}


@media screen and (min-width: 1px) {
	.btn-android {
		img {
			left: 50%;
			margin-left: -75px;
			position: absolute;
		}

		.android-bottom {
			margin-top: -125px;
		}
	}

	.btn-ios {
		img {
			left: 50%;
			margin-left: -75px;
			position: absolute;
		}

		.ios-bottom {
			margin-top: -60px;
		}
	}
}

@media screen and (min-width: 768px) {
	.btn-android {
		img {
			left: 0%;
			margin-left: 0px;
			margin-top: 0px;
			float: right;
			position: relative;
		}

		.android-bottom {
			margin-top: 0px;
		}
	}

	.btn-ios {
		img {
			left: 0%;
			margin-left: 0px;
			position: relative;
		}

		.ios-bottom {
			margin-top: 0px;
		}
	}
}


body {
	background: transparent;
}
/* Semyon change "header" to ".lp-header" */
.lp-header {
	width: 100%;
	height: 800px;
	//background: url("/media/images/header/header_back.jpg");
	background-color: #fff;
	background-size: cover;

	.img-left {
		position: absolute;
		top: 0;

		@media screen and (min-width: 992px) {
			left: -250px;
		}


		@media screen and (min-width: 1600px) {
			left: 0px;
		}
	}

	.img-right {
		position: absolute;
		left: 50%;
		margin-left: 260px;
		top: 526px;
	}

	.container-header {
		.title-header {
			margin-top: 70px;
			p {
				font-family: LatoLight;
				font-size: 39px;
				text-shadow: 0 1px 0 #fff, 1.5px 1.2px 4px #000;
				color: #fff;
			}
		}

		.logo-header {
			margin-top: 145px;
			img {
				margin: 0 auto;
			}
		}

		@media screen and (min-width: 100px) {
			.title-header {
				margin-top: 62px;
				p {
					font-size: 23px;
					text-shadow: 0 1px 0 #fff, 1.5px 1.2px 4px #000;
					color: #fff;
				}
			}

			.task-header {
				margin-top: 60px;
				p {
					text-transform: uppercase;
					font-size: 20px;
				}
			}
		}

		@media screen and (min-width: 768px) {
			.title-header {
				margin-top: 70px;
				p {
					font-size: 39px;
					text-shadow: 0 1px 0 #fff, 1.5px 1.2px 4px #000;
					color: #fff;
				}
			}

			.task-header {
				margin-top: 115px;
				p {
					font-family: LatoLight;
					text-transform: uppercase;
					font-size: 26px;
				}
			}
		}

		.btn-header {
			margin-top: 55px;
			.btn-download{
				border-radius: 0px;
			}
		}

		.fa {
			padding: 10px;
		}
	}
}

.main {
	.spoiler-title{cursor:pointer;}
	.spoiler-body{display:none;background:#f1f1f1;}

	.features {
		background-color: @backg_one;

		.section-title {
			font-family: LatoLight;
			font-size: 45px;
		}

		.section-subtitle {
			font-family: LatoLight;
			font-size: 24px;
		}

		.description {
			font-family: LatoLight;
			font-size: 16px;
		}
	}

	.features .features-icon {
		color: @green;
	}

	.features .features-wrapper:hover .features-icon {
	    color: #fff;
	    background-color: @green;
	    box-shadow: 0 0 0 1px #2b3e50;
	}

	.features .features-content .title {
	    margin-top: 8px;
	    font-family: LatoLight;
		font-size: 34px;
	    color: @green;
	}

	.web-code {
		margin-top: 48px;
	}

	.more-categories {
		background-color: @backg_one;
		height: 100px;

		input {
			font-family: LatoLight;
			padding: 15px 40px 15px;
			border-color: white;
			background-color: rgba(178,178,178,0);
			font-size: 24px;
			border-style: solid;
    		border-width: 2px 2px 2px 2px;
    		color: white;
		}

		input:hover {
			padding: 15px 40px 15px;
			background-color: rgba(4,193,120,1);
			border-color: rgba(178,178,178,0);
			font-size: 24px;
			border-style: solid;
    		border-width: 0px 0px 0px 0px;
    		color: white;
		}
	}

	.overview {
		background-color: @backg_two;

		.nav-tabs>li.active>a {
			color: #fff;
		    background-color: @backg_one;
		    border-color: #fff;
		    border-style: solid;
    		border-width: 1px 1px 1px 1px;
		    cursor: default;
		}

		a:hover {
			color: #fff;
		    background-color: @backg_one;
		   	border-color: #fff;
		   	border-style: solid;
    		border-width: 1px 1px 1px 1px;
    	}

    	.section-header {
    		font-size: 46px;
    		font-family: LatoLight;
    	}

    	.title {
		    margin-top: 8px;
		    font-size: 1.8em;
		    color: @green;
		}

		.btn-lg {
			font-size: 18px;
			font-family: LatoLight;
		}


		.overview-content {
			font-family: LatoLight;

			p {
				margin: 0px 0px 41.5px;
			}
		}

		.tab-pane {
			height: 500px;
		}

		@media screen and (min-width: 100px) {
			.tab-pane {
				height: 750px;
			}
		}

		@media screen and (min-width: 768px) {
			.tab-pane {
				height: 500px;
			}
		}
	}

	.system-features {
		background-color: @backg_one;

		.title {
			font-family: LatoLight;
		    margin-top: 8px;
		    font-size: 30px;
		    color: @green;
		}

		.description {
			font-family: LatoLight;
		    font-size: 17px;
		}

		.section-title {
			font-size: 45px;
			font-family: LatoLight;
		}

		.hidden-sm {
			color: @green;
		}

		.overview-wrapper:hover .overview-icon {
    		color: #fff;
   			background-color: @green;
    		box-shadow: 0 0 0 1px #2b3e50;
		}

		.categories {
			margin-top: 48px;
		}

		.notification {
			margin-top: 55px;
		}

		@media screen and (min-width: 100px) {

			.notification {
				margin-top: 0px;
			}
		}

		@media screen and (min-width: 992px) {
	    	.categories {
				margin-top: 48px;
			}

			.notification {
				margin-top: 55px;
			}
		}
	}

	.calltoaction {
		width: 100%;
		height: 600px;
    	background: url("/media/images/back_email.jpg");
    	background-size: cover;

    	.section-title {
			font-size: 45px;
			font-family: LatoLight;
    	}

		.section-subtitle {
			font-size: 24px;
			font-family: LatoLight;
		}

		button {
			border-radius: 0px;
			background-color: @green;
			height: 39px;
		}

		.newsletter-wrapper {
			h3 {
				margin-top: 70px;
				font-size: 26px;
				font-family: LatoLight;
			}
		}

		input {
			font-family: LatoLight;
			font-size: 18px;
		}

		button {
			font-family: LatoLight;
			font-size: 16px;
		}

		.help-block {
			font-family: LatoLight;
			font-size: 12px;
		}

		.input-newsletter {
    		box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
		}
	}

	@media screen and (min-width: 200px) {
    	.calltoaction {
			height: 790px;
		}
	}

	@media screen and (min-width: 475px) {
    	.calltoaction {
			height: 600px;
		}
	}

	@media screen and (min-width: 511px) {
    	.calltoaction {
			height: 600px;
		}
	}
}


.footer {
	margin-top: 0px;
	background-color: @backg_two;

	.footer-info {
		font-family: MyriadProRegular;
		margin-top: 45px;
		font-size: 16px;
		color: #D0D0D0;
		a{
			color: #D0D0D0;
			text-decoration: none;
		}
		a:hover {
			color: #D0D0D0;
			text-decoration: none;
		}
	}

	@media screen and (min-width: 200px) {
    	.footer-info {
			margin-top: 10px;
		}
	}

	@media screen and (min-width: 992px) {
    	.footer-info {
			margin-top: 45px;
		}
	}

	.footer-invaders {
		p{
			font-family: LatoLight;
			font-size: 14px;
			a {
				color: #D0D0D0;
			}

			a:hover{
				color: #D0D0D0;
				text-decoration: none;
			}
		}
	}
}

.go-top {
    margin-bottom: 50px;
    color: #fff;
}

.go-top:hover, .go-top:focus {
    margin-bottom: 50px;
    color: @green;
}

.modal {

	background: rgba(0, 31, 67, 0.78);

	.close {

		font-size: 48px;
		font-family: "Open Sans";
		opacity: 0.75;
		font-weight: lighter;
		line-height: 26px;

		&:hover {
			opacity : 1;
		}

	}

	.modal-content {
		font-family: LatoLight;
		font-size: 16px;
		text-align: justify;
		background: rgba(0, 31, 67, 0.9);
		//box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
		box-shadow: none;
		color: #fff;
	}

	.modal-header, .modal-footer {
		background: none;
		padding-left: 20px;

		h4 {
			font-size: 30px;
		}

	}

	.modal-body {
		padding-top: 0px;
	}

	.modal-dialog {
		width: 1024px;
	}

}
/* Semyon's styles */

.fixed-header {
	background: @backg_one;
	height:109px;
	width: 100%;
	position: fixed;
	top: 0;
    z-index: 99999999;
 
	&__top {
		background: @lgreen;
		height: 42px;
	}
	&__logo {
		float: left;
		display: block;
		padding: 5px 0 0 10px;
	}
	&__menu-btn {
		position: fixed;
		top:40px;
		left:15px;
		background: @lgreen;
		border: none;
		border-radius: 50%;
		float: left;
		//height: 42px;
		margin-top: 13px;
		//width: 42px;
		outline: none;
		padding: 14px 11px;
		@media(min-width:768px){
			position: relative;
			top:0;
			left:0;
		}
	}
	&__profile {
		float: right;
		img {
			border-radius: 50%;
			float: left;
			height: 31px;
			width: 31px;
			margin-top: 6px;
		}
	}
	.container {
		height: 67px;
	}
}
.fixed-header-mid {
	margin: 0 auto;
	padding:0;

	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	background: #37414d;
	@media(min-width:768px){
		position:relative;
		width: 363px;
	}
	@media(min-width:992px){
		width: 393px;		
	}	
	@media(min-width:1200px){
		width: 543px;		
	}

	li {
		display: block;
		float:left;
		padding: 10px 0px 5px;
		width: 20%;
		@media(min-width:768px){
			width: auto;
			padding: 17px 15px;
		}
		@media(min-width:992px){
			padding: 17px 20px;			
		}
		@media(min-width:1200px){
			padding: 17px 35px;			
		}
	}
	&__prof {
		background: url('../images/header-sprite.png') no-repeat;
		background-position: -46px -65px;
		display: block;
		margin: 0 auto;
		width: 36px;
		height: 36px;
	}
	&__cal {
		background: url('../images/header-sprite.png') no-repeat;
		background-position: -84px -10px;		
		display: block;
		margin: 0 auto;
		width: 36px;
		height: 36px;
	}
	&__search {
		background: url('../images/header-sprite.png') no-repeat;
		background-position: -135px -10px;
		display: block;
		margin: 0 auto;		
		width: 36px;
		height: 36px;
	}
	&__sets {
		background: url('../images/header-sprite.png') no-repeat;
		background-position: -101px -65px;
		display: block;
		margin: 0 auto;		
		width: 36px;
		height: 36px;
	}

	&__bigplus {
		background: @lgreen;
		border: 7px solid #43505e;
		border-radius: 50%;
		color: @backg_one !important;
		display: block;
		font-family: 'Open Sans';
		font-size: 34px;
		line-height: 51px;
		margin: -22px auto 0; 
		position: relative;
		text-align: center;
		text-decoration: none !important;
		height: 64px;
		width: 64px;

		@media(min-width:768px){
			font-size: 48px;
			margin: -22px -15px 0; 
			line-height: 82px;			
			width:99px;
			height: 99px;
		}
		@media(min-width:992px){
			margin: -22px -25px 0; 			
		}
		&:after{
			content: '+';
		}
	}
}

.fixed-header-right {
	float: right;
	padding: 0;
	margin: 13px 0 0;
	position: fixed;
	top:40px;
	right: 10px;
	@media(min-width:768px){
		position: relative;
		top:0;
		right:0;
		width: auto;
	}
	li {
		display: inline-block;
		a {
			background-color: @lgreen;
			border-radius: 50%;
			display: block;
			height: 42px;
			width: 42px;
			position: relative;
			margin-right: 10px;
			@media(min-width:768px){
				margin-right: 0;
			}
		}

	}
	&__list {
		background: url(../images/header-sprite.png) no-repeat -38px 2px;
	}
	&__sets {
		background: url(../images/header-sprite.png) no-repeat 2px 3px;
		margin:0;
		@media(min-width:768px){
			margin-left: 10px;			
		}		
	}
	&__msg {
		background: url(../images/header-sprite.png) no-repeat -2px -111px;
		margin: 0;
		@media(min-width:768px){
			margin-left: 22px;
			margin-right: 6px;
		}	
		&:before {
			content: '';
			background: @lgreen;
			display: none;
			margin-left: -13px;
			width: 1px;
			height: 100%;
			@media(min-width:768px){
				display: block;
			}			
		}
	}
}

.icon-bar {
	background: #3b5558;
	display: block;
	width: 20px;
	height: 2px;
	margin: 0;
	& + & {
		margin-top: 4px
	}
}

.icon-dot {
	border: 2px solid #3a3b3d;
	border-radius: 50%;
	display: block;
	width: 6px;
	height: 6px;
		& + & {
		margin-top: 3px
	}
}

.icon-dot-wrap {
	float: left;
	padding: 10px 0 0 3px;
}
.msg-ico {
	background: #fff;
	border-radius: 50%;
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 0;
	right: -5px;
}

.top-section {
	padding-top: 109px;
	background: url(../images/backgr.jpg) no-repeat;
	background-color: #fff;
	min-height: 529px;
	font-family: LatoLight;
	font-size: 21px;
	position: relative;
	text-align: center;
	@media(min-width:992px){
		font-size: 27px;		
	}
}

.top {
	&__btn {
		background: @backg_one;
		border-radius: 40px;
		color: @lgreen;
		display: block;
		height: 59px;
		line-height: 60px;
		width: 280px;
		text-decoration: none !important;
		margin:0 auto;
		@media(min-width:992px){
			width: 363px;
			height: 79px;	
			line-height: 80px;					
		}
		&:hover {
			color: @lgreen;
		}
		&.btn-green {
			background: @lgreen;
			color: @backg_one;
		}
	}
	&__btn-app {
		display: inline-block;
		width: 100px;
		margin: 20px 0 13px;
	}
	&__hand-img {
		position: absolute;
		width: 159px;
		right:-50px;
		bottom:-20px;
		display: none;
		@media(min-width:768px){
			display:block;
			right:-120px;
		}
		@media(min-width:992px){
			right:-50px;
		}
		@media(min-width:1200px){
			right:0px;		
		}
	}
	&__text {
		color: @backg_one;
		max-width:363px; 
		margin: 0 auto;
		line-height: 1.2;
		padding: 10px 0;
	}
	&__left-col {
		@media(min-width:768px){
			margin-top: 90px;
		}
	}
	&__right-col {
		margin:75px 0 75px;
		@media(min-width:768px){
			margin: 75px 0 20px;
		}
		color:#000;
		font-size: 20px;
		text-transform: uppercase;

		.img-bizzi {
			width: 100%;
			max-width:344px;
		}
	
	}
}

.list {
	padding-top: 98px;
	min-height: 100vh;
	@media(min-width:768px){
		padding-top:109px;
	}
	background: #d2d2d2;
	.col-md-3 {
		padding: 10px;
		.list__col {
			-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
			background: #fff;
			float:left;
			height: 300px;
			margin-bottom: 20px ;
		}
	}
	.col-md-6 {
		padding: 10px;
		.list__col {
			-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
			background: #fff;
			float: left;
			padding-bottom:30px; 
		}
	}
	&__list {
		padding: 0;
		margin:0;
		list-style:none;
	}
	&__row {
		display: block;
		text-decoration: none !important; 
		height: 110px;
		padding: 30px 15px 20px;

	}
	&__ico--paint {
		background: url(../images/list-sprite.png) no-repeat 4px 3px;
		background-color: #2f3f4c;
		display: block;
		float:left;
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;
	}
	&__ico--cup {
		background: url(../images/list-sprite.png) no-repeat -67px -2px;
		background-color: #2f3f4c;
		display: block;
		float:left;		
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;		
	}
	&__ico--repair {
		background: url(../images/list-sprite.png) no-repeat -140px 0px;
		background-color: #2f3f4c;
		display: block;
		float:left;		
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;		
	}
	&__ico--train {
		background: url(../images/list-sprite.png) no-repeat -216px 8px;
		background-color: #2f3f4c;
		display: block;
		float:left;		
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;		
	}
	&__ico--pc {
		background: url(../images/list-sprite.png) no-repeat -366px 2px;
		background-color: #2f3f4c;
		display: block;
		float:left;		
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;		
	}	
	&__ico--key {
		background: url(../images/list-sprite.png) no-repeat -291px 3px;
		background-color: #2f3f4c;
		display: block;
		float:left;		
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;		
	}
	&__ico--electric {
		background: url(../images/list-sprite.png) no-repeat -433px 3px;
		background-color: #2f3f4c;
		display: block;
		float:left;		
		border-radius: 50%;
		height: 76px;
		width: 76px;
		margin-top: 5px;			
	}
	&__desc {
		display: block;
		color: #465c6e;
		font-size: 17px;
		width: 100%;
		margin:15px 0 0;
		float:right;
		@media(min-width:768px){
			font-size: 20px;
			width:85%;
			margin:0; 
		}	
		@media(min-width:992px){
			max-width: 340px;
		}
		@media(min-width:1200px){
			max-width: 440px;
		}
	}
	&__date {
		display: block;
		float:right;
		color:#778b9e;
		font-size:14px;
		width: 100%;
		margin:5px 0 10px;
		@media(min-width:768px){
			font-size: 17px;
			width: 85%;
			margin: 0;
		}
		@media(min-width:992px){
			max-width: 340px;
		}
		@media(min-width:1200px){	
			max-width: 440px;			
		}
	}
	&__title {
		display: block;
		float: left;
		color: #2f3f4c;
		font-size:20px;
		width: 60%;
		margin-left:20px;
		@media(min-width:768px){
			width: 85%;
			float: right;
		}
		@media(min-width:992px){
			max-width: 340px;
			margin-left:0px;
		}	
		@media(min-width:1200px){
			max-width:440px;			
		}
	}
	&__cost {
		color: #00d9a2;
		font-size:17px;
		float: right;
		width: 100%;
		font-style:normal;
		@media(min-width:768px){
			width: auto;
			font-size: 20px;
		}		
	}	
}

.task {
	padding-top: 120px;
	@media(min-width:768px){
		padding-top: 140px;
	}

	&__btn {
		background: @backg_one;
		border: none;
		border-radius:25px;
		color: @lgreen;
		display: block;
		font-size:14px;
		margin: 20px 0;
		padding: 5px 0;
		width:100%;
	}

	&__hr {
		border-top: 1px solid #fff;
		margin: 12px 45px;
		@media (min-width: 768px) {
			margin: 12px 85px;
		}
	}

	&__row {
		font-size:12px;
		padding: 5px 0;
		width: 100%;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}

	&__green-text {
		color: @lgreen;
		float:left;
		padding-right: 10px;
	}

	&__white-text {
		float: left;
		max-width: 50%;
		@media(min-width:768px){
			max-width: 60%;
		}
	}
	
	&__left-col + &__left-col {
		margin-top: 30px;
	}

	&__left-col,
	&__right-col {
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
		border-radius: 20px;
		background: #f8f8f8;
		min-height: 200px;
	}
	&__right-col {
		background: linear-gradient(to bottom, #3d434e, #58d8a3);
		padding: 20px 20px 40px;
		@media(min-width:768px){
			padding: 20px 30px 40px;
		}
		@media(min-width:992px){
			padding: 20px 40px 40px;
		}
	}
	&__title {
		text-transform: uppercase;
		font-size: 16px;
		padding: 0;		
		text-align: center;
		margin: 0 0 10px;		
		@media(min-width:768px){
			font-size: 20px;		
		}
	}

	&__cost {
		color: @lgreen;
		display: block;
		width: 100%;
		text-transform: none;
    	padding: 10px 0 0px;
	}

	.col-xs-12 {
		padding: 15px;
	}
}

.map {
	padding-top: 99px;
	//padding-bottom: 10px;

	&__btn-wrap {
		position: absolute;
		bottom: 15px;
		right:0;
		width: 42px;
		height: 170px;
		@media(min-width:768px){
			right:0;
			width: 90px;
			height: 200px;
		}
	}

	&__btn-minus,
	&__btn-plus {
		background-color: #58d8a3;
		border: none;
    	border-radius: 50%;
    	color: @backg_one;
    	display: block;
    	margin: 10px auto;
    	font-size: 30px;
       	height: 42px;
    	width: 42px;
    	-webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
    	-moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
    	box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
    	@media(min-width:768px){
      		margin: 10px auto;  		
    	}

	}

	&__btn-geo {
		background: url(../images/geo.png) no-repeat center;
		background-color: #fff;
		background-size: 20px;
		border: none;
		border-radius: 50%;
		display: block;
		margin: 10px auto;
		width: 42px;
		height: 42px;
		-webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
    	-moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
    	box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
    	@media(min-width:768px){
    		background-size: 25px;
    		margin: 20px auto;
			width: 66px;
			height: 66px;
    	}
	}

	&__col {
		// background-color: #444;
		-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	-moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
		min-height: 200px;
		position: relative;
	}
	.col-xs-12 {
		padding: 10px;
	}
}

.profile {
	color:@backg_one;
	text-align: center;
	padding-top: 109px;
	&__nav {
		float: left;
		margin-bottom: 10px;
		position: relative;
		z-index: 99999998;
		width: 100%;
		@media(min-width:768px){
			margin-bottom:-10px;
		}
	}
	&__nav-list {
		list-style:none;
		margin:0;
		padding: 0;
	}
	&__nav-item {
		background: @lgreen;
		display: block;
		float: left;
		width: 100%;
		&:nth-child(2){
			background: #55cd9d;
		}
		&:nth-child(3){
			background: #52bc94;
		}
		&:nth-child(4){
			background: #4dab89;
		}
		&.active {
			background: @backg_one;
			.profile__nav-ico--skills,
			.profile__nav-ico--tasks,
			.profile__nav-ico--stat,
			.profile__nav-ico--info {
				background-position: 0 0px;
			}	
		}

		@media(min-width:768px){
			width: 50%;
		}
		@media(min-width:992px){
			width: 25%;
		}
		a {
			cursor: pointer;
			display: block;
			height: 39px;
			text-align: center;
		}
	}
	&__nav-ico--skills,
	&__nav-ico--tasks,
	&__nav-ico--stat,
	&__nav-ico--info {
		background-position: 0 -32px;
		display: inline-block;
		margin: 2px 0 0;
		height: 32px;
		width:32px; 
	}
	&__nav-ico--skills {
		background-image: url(../images/skills.png);
	}
	&__nav-ico--tasks{
		background-image: url(../images/tasks.png);
	}
	&__nav-ico--stat{
		background-image: url(../images/stat.png);
	}	
	&__nav-ico--info{
		background-image: url(../images/info.png);
	}

	&__col {
		-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	-moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	background: #f8f8f8;
    	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	border-radius: 40px; 
		min-height: 200px;
		@media(min-width:768px){
    		border-radius: 0px 0px 40px 40px; 				
		}
	}
	&__blue-col {
		-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	-moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	background: #627489;
    	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    	border-radius: 40px; 
    	padding: 10px 10px 30px;
		min-height: 200px;
		@media(min-width:768px){
    		border-radius: 0px 0px 40px 40px; 				
		}
	}
	&__blue-row {
		border-bottom: 1px solid @backg_one;
		font-size:14px;
		color: @lgreen;
		text-align: left;
		padding: 7px 0;
		@media(min-width:1200px){
			font-size: 20px;
		}
		span {
			float: right;
			color: #fff;
		}
	}
	&__btn {
		background: @lgreen;
		border:none;
		border-radius: 30px;
		color:@backg_one;
		font-family: 'Code-Pro-Light', sans-serif;
		font-size: 18px;
		margin:0em 5px 1em;
		text-transform: uppercase;
		width: 212px;
		height: 47px;
		@media (min-width:992px){
			margin: 0em 5px 2em;			
		}
	}
	&__title {
		color: @backg_one;
		font-family: 'Code-Pro-Light', sans-serif;
		font-size: 20px;
		margin:0;
		padding: 20px 0 0;
		text-align: center;
		text-transform: uppercase;
	}
	&__status{
		min-height: 20px;
		font-family: 'Code-Pro-Light', sans-serif;		
		font-size:14px;
	}
	.col-xs-12 {
		padding: 10px;
	}

	&__check {
		color:@lgreen;
		display: inline-block;
		width: 20px;
		height: 20px;
		position: absolute;
		&:before {
			font-family: "Ionicons";
			content: "\f3fd";
			font-size:60px;
			height: 20px;
			line-height: 20px;
			left:5px;
			position: absolute;
		}
	}

	&__userpic {
		border: 5px solid @lgreen;
		border-radius: 50%;
		margin: 0 auto;
		overflow:hidden;
		width: 200px;
		height: 200px;
		@media(min-width:992px){
			height: 248px;
			width: 248px;
		}
	}	

	&__town {
		font-family: 'Code-Pro-Light', sans-serif;		
		text-transform: uppercase;
		font-size:18px;
		min-height: 45px;
		padding: 10px 0;		
	}	
}

.profile-medals {
	margin-bottom:20px;
	&__list {
		padding: 0;
		margin:0;
		list-style:none;
	}
	&__item--star {
		background: url(../images/medals-sprite.png) -170px 0px no-repeat;
		display: inline-block;
		height: 52px;
		margin: 0 10px;
		width: 52px;
	}
	&__item--red {
		background: url(../images/medals-sprite.png) -112px 0px no-repeat;
		display: inline-block;
		height: 52px;
		width: 52px;
		margin: 0 10px;	
	}
	&__item--blue {
		background: url(../images/medals-sprite.png) 0px 0px no-repeat;
		display: inline-block;
		height: 52px;
		width: 52px;
		margin: 0 10px;
	}
	&__item--medal {
		background: url(../images/medals-sprite.png) -55px 0px no-repeat;
		display: inline-block;
		height: 52px;
		width: 52px;
		margin: 0 10px;
	}
}

.chat {
	padding-top: 109px;
	
	&__arrow-back {
		background-color: #58d8a3;
    	border-radius: 50%;
    	color: @backg_one !important;
    	font-size: 26px;
    	display: block;
    	height: 44px;
    	//left:15px;
    	line-height: 48px;
    	width: 44px;
    	float:left;
    	text-decoration: none !important;
    	@media(min-width:768px){
    		display: none;
    	}
	}
	
	&__input {
		border:1px solid @backg_one;
		border-radius: 25px;
		color: @backg_one;
		display: none;
		font-family: 'Open Sans', sans-serif;
		// display: inline-block;
		font-size: 18px;
		height: 44px;
		// position: absolute;
		// left:45px;
		outline: none;
		padding: 0 20px;
		margin-left: -30px;
		width: 80%;
		&:focus {
			border-color:@lgreen;
		}
		@media(min-width:1200px){
			width: 385px;
		}
	}

	&__left-col,
	&__right-col {
		background: #fff;
		float:left;
		width: 100%;
		position: absolute;
    	min-height: 1px;
    	z-index: 1;
    	@media(min-width:768px){
    		position: relative;		
    		width: 50%;
    	}
	}
	&__right-col {
		display: none;
		@media(min-width:768px){
			display: block;
		}
	}

	&__tab {
		color: @backg_one;
		display: inline-block;
		float:left;
		font-size:11px;
		line-height: 27px;
		height: 100%;
		width: 50%;
		padding: 10px 0px;
		text-decoration: none !important;
		&:hover,
		&:active,
		&:focus {
			color: @backg_one;
		}
		@media(min-width:480px){
			font-size: 13px;
		}
		@media(min-width:1200px){
			font-size:18px;
		}
	}

	&__tab-wrap {
		background: @lgreen;
		border-radius: 25px;		
		float:left;
		height: 44px;
		width: 80%;
		position: relative;
		@media(min-width:1200px){
			height: 44px;
			width: 385px;
		}

	}
	&__tab-swipe {
		border-radius: 25px;
		background: @backg_one;
		display: inline-block;
		color:@lgreen;
		z-index: 1;
		width: 55%;
		height: 44px;
		position: absolute;
		left:0;
		font-size:11px;
		line-height: 27px;
		padding: 10px 0px;
		@media(min-width:480px){
			font-size: 13px;
		}
		@media(min-width:1200px){
			font-size:18px;			
		}
	}

	&__search-btn {
		background: @lgreen;
		border:none;
		border-radius: 50%;
		float:right;
		width: 46px;
		height: 46px;
		.fa-search {
			color: @backg_one;
			font-size: 20px;
		}
	}

	&__left-col {
		border-right: 1px solid #dadada;
	}

	&__header {
		float: left;
		font-family: 'Code-Pro-Light';
		width: 100%;
		padding: 15px 15px;
		text-align: center;
		position: relative;
		@media(min-width:480px){
			padding: 20px 15px;
		}
		@media(min-width:992px){
			padding:20px 45px;
		}
	}

	&__name {
		background: @backg_one;
		border-radius: 25px;
		display: inline-block;
		color:@lgreen !important;
    	padding: 11px 30px 8px;
		font-size:13px;
		text-decoration: none !important;
		text-transform: uppercase;
		line-height: 26px;
    	height: 44px;
		@media(min-width:768px){
			font-size: 18px;
		}
	}
}

.chat-left {
	&__content {
		float:left;
		height: calc(~"100vh - 265px");
		width: 100%;
		@media(min-width:768px){
			height: calc(~"100vh - 240px");
		}	
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style:none;
	}
	&__row {
		display: block;
		height: 120px;
		margin: 0;
		padding: 10px 0px;
		&:hover {
			background: #f8f8f8;
		}
		@media(min-width:768px){
			margin: 0 10px;
		}
	}
	&__img {
		display: block;
		float: left;
		height: 100px;
		width: 30%;
		@media(min-width:992px){
			width: 20%;
		}
		img {
			border-radius: 50%;
			display: block;
			height: 75px;
			width: 75px;
			margin: 12.5px auto;
		}
	}
	&__name {
		float: left;
		color: #2f3f4c;
		font-size:18px;
		display: block;
		width: 70%;
		padding: 10px 0 0;
		@media(min-width:992px){
			font-size:20px;			
			width: 80%;
		}
	}
	&__text {
		color: #465c6e;
		display: block;
		font-size: 16px;
		float: left;
		height: 42px;
		line-height: 1.3;
		padding-right: 10px;
		overflow:hidden;
		width: 70%;	
		@media(min-width:992px){
			font-size:16px;
			line-height: 1.5;			
			height: 28px;
			width: 80%;
		}
		@media(min-width:1200px){
			font-size: 20px;
			line-height: 1.3;
		}
	}

	&__date {
		display: block;
		float:left;
		font-size:15px;
		color:#778b9e;
		width: 70%;
		@media(min-width:992px){
			font-size: 17px;
			width: 80%;
		}
	}
}

.chat-right {
	&__btn-plus {
		background: @lgreen;
		border-radius: 50%;
		color: @backg_one;
		cursor:pointer;
		display: block;
		font-size: 28px;
		float: left;
		height: 46px;
		line-height: 45px;
		text-align: center;
		width: 46px;
		position: absolute;
		left: 15px;
		bottom:-5px;
		&:after {
			content: '+';
		}
	}

	&__btn-send {
		background: transparent;
		border: none;
		color: @lgreen;
		font-family: 'Open Sans';
		font-size: 24px;
		font-weight: 600;
		outline: none;
		position: absolute;
		right: 0;
		bottom:10px;

	}

	&__bottom {
		//position: absolute;
		border-top: 1px solid #dadada;
		//bottom: 0;
		width: 100%;
		display: table-row;
	}

	&__bottom-wrap {
		padding-top: 20px;
	}

	&__content {
		float:left;
		height: calc(~"100vh - 255px");
		position: relative;
		width: 100%;
		display: table;
		table-layout: fixed;
		@media(min-width:768px){
			height: calc(~"100vh - 240px");
		}	
	}

	&__textarea {
		background: transparent;
		border: none;
		border-bottom: 2px solid #a6a6a6;
		box-sizing: border-box;
		color: #37414d;
		display: block;
		font-size: 19px;
		font-weight: 300;
		min-height: 20px;
		max-height: 200px;
		max-width: 100%;
		padding: 5px 0; 
		outline: none;
		resize:none;
    	margin: 0 80px 0 70px;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		word-wrap: break-word;
	}
}

.chat-right-container {
	display: table-row;
    height: 100%;
    width: 100%;
    position: relative;
}

.chat-right-cont {
	&__inner {
		bottom:0;	
		padding: 0 30px;			
		position: absolute;
		max-height: 100%;
	}

	&__row {
		float:left;
		margin: 10px 0;
		position: relative;
		width: 100%;
		&.left {
			.chat-right-cont__text-wrap {
				float: left;
			}
			.chat-right-cont__text {
				border-radius: 27px 27px 27px 0;
				// float: left;
				background: @backg_one;
				color:@lgreen;
			}
			.chat-right-cont__time {
				right:10px;
			}
		}
		&.right {
			.chat-right-cont__text-wrap {
				float: right;
			}
			.chat-right-cont__text {
				border-radius: 27px 27px 0 27px;			
				// float: right;
				background: @lgreen;
				color:@backg_one;		
			}
			.chat-right-cont__time	{
				left:10px;
			}		
		}
	}

	&__text-wrap {
		max-width: 75%;
	}

	&__wrap {
		position: relative;
		height: 100%;
	}
	&__date {
		color: #7c8a9c;
		font-family: 'Open Sans';
		font-size: 15px;
		font-weight: 300;
		text-align: center;
	}

	&__time {
		color: #7c8a9c;
		font-family: 'Open Sans';
		font-size: 15px;
		font-weight: 300;
		position: absolute;
		top:10px;
	}

	&__text {
		// max-width: 75%;
		padding:10px 15px;
		font-family: 'Open Sans';
		font-size: 14px;
		font-weight: 300;
		@media(min-width:768px){
			font-size: 19px;
		}
		& + & {
			margin-top: 5px;
		}
	}
}

#addfile {
	display: none;
}

.task-form {

	select {
		cursor: pointer;
		outline: none;
		appearance:none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
	} 
	select::-ms-expand {
		display: none;
	}

	input, textarea {
		outline: none;
	}

	input::-webkit-input-placeholder {
		color: #37414d !important;
	}
	input:-moz-placeholder {
		color: #37414d !important;
	}
	input::-moz-placeholder {
		color: #37414d !important;
	}	
	input:-ms-input-placeholder {
		color: #37414d !important;
	}
	textarea::-webkit-input-placeholder {
		color: #37414d !important;
	}
	textarea:-moz-placeholder {
		color: #37414d !important;
	}
	textarea::-moz-placeholder {
		color: #37414d !important;
	}	
	textarea:-ms-input-placeholder {
		color: #37414d !important;
	} 	 


	input[type="file"]{
		display: none;
	}

	&__add-file,
	&__add-img {
		background: @backg_one;
		border-radius: 50%;
		color: @lgreen;
		cursor: pointer;
		font-size: 13px;
		height: 24px;
		width: 24px;
		position: absolute;
		right: 7px;
	}

	&__add-img {
		top: 27px;
		padding: 3px 7px;

	}

	&__add-file {
		top: 57px;
		padding: 4px 8px;

	}

	&__address {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		font-size: 12px;
		margin: 14px 6px;
		padding: 4px 10px;
		width: 80%;
	}

	&__row {
		float: left;
		position: relative;
		width: 100%;
	}
	
	&__plus {
		background: @backg_one;
		border-radius: 50%;
		color: @lgreen !important;
		cursor: pointer;
		display: inline-block;
		float: left;
		font-size: 20px;
		height: 24px;
		line-height: 24px;
		width: 24px;
		text-align: center;
		text-decoration: none !important;
		margin: 14px 0;
	}

	&__price {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		float: left;
		font-size: 12px;
		padding: 4px 10px;
		margin: 14px 0 30px;
		width: 120px;
	}

	&__price-label {
		color: @backg_one;
		display: block;
		float: left;
		margin: 12px 5px;
		position: relative;
		font-size: 20px;
	}

	&__select-cat {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		font-size: 12px;
		padding: 4px 10px;
		width: 100%;
		margin: 14px 0;
		& + & {
			float: right;
		}
		// @media (min-width: 768px) {
		// 	width: 130px;
		// }
		@media (min-width: 1200px) {
			width: 174px;
		}
	}

	&__select-dline {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		font-size: 12px;
		margin: 14px 0;
		padding: 4px 30px;
		width: 100%;	
	}
	
	&__select-dline-wrap {
		float: left;
		position: relative;
		width: 85%;	
		margin-right: 35px;
		@media(min-width:1200px){
			width: 140px;
		}			
		&:after {
			color: @backg_one;
    		content:"\f0d7";
    		font-family:'FontAwesome';
    		position: absolute;
    		top: 18px;
    		right: 6px;
    		font-size: 12px;
		}
	}

	&__select-time {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		font-size: 12px;
		margin: 14px 0;			
		padding: 4px 16px;	
	}

	&__select-time-wrap {
		float: left;
		position: relative;
		margin-left: 5px;
		&:after {
			color: @backg_one;
    		content:"\f0d7";
    		font-family:'FontAwesome';
    		position: absolute;
    		top: 18px;
    		right: 6px;
    		font-size: 12px;
		}
	}
	
	&__select-cat-wrap {
		float: left;
		position: relative;
		width: 100%;
		& + & {
			float: right;
		}
		&:after {
			color: @backg_one;
    		content:"\f0d7";
    		font-family:'FontAwesome';
    		position: absolute;
    		top: 18px;
    		right: 6px;
    		font-size: 12px;
		}
		@media (min-width: 1200px) {
			width: 174px;
		}
	}

	&__date {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		float: left;
		font-size: 12px;
		margin: 14px 0;
		padding: 4px 10px;
		width: 90px;
		& + button {
			background: transparent;
			border:none;
			float: left;
			margin: 13px 0 0 -20px;
			&:after {
				content:"\f0d7";
				color: @backg_one;
				font-family:'FontAwesome';
				font-size: 12px;
			}
		}			
	}


	&__input {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		font-size: 12px;
		width: 100%;
		padding: 4px 10px;
		margin: 14px 0;
	}
	&__textarea {
		background: @lgreen;
		border: none;
		border-radius: 11px;
		color: @backg_one;
		font-size: 12px;
		height: 80px;
		resize: none;
		width: 85%;
		margin: 14px 0;
		padding: 10px;
		@media (min-width: 1200px) {
			width: 90%;
		}
	}
}

.ui-datepicker {
	background: @backg_one;
}
.ui-datepicker-header {
	background: @lgreen;
}
.ui-datepicker-next,
.ui-datepicker-prev {
	cursor: pointer;
	font-family: 'FontAwesome';
}
.ui-datepicker-prev:before {
	color:@backg_one;
	content: '\f0d9';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	left:8px;
}

.ui-datepicker-next:before {
	color:@backg_one;
	content: '\f0da';
	display: inline-block;
	font-size: 20px;
	position: absolute;
	right:8px;
}

.ui-datepicker-title {
	color: @backg_one;
}
.ui-state-hover {
	background: @lgreen;
	color: @backg_one;
}
